body {
    color: lightslategrey;
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
 } 

h1 { 
    color: indigo;
    background-color: lavenderblush;
    font-family: 'Pacifico', cursive;
 }
h2 { 
    color:mediumpurple;
    font-family: 'Pacifico', cursive;
 }
 nav {background-color:lightpink;}
 nav a {color: lightpink;}
 nav {color: white;}
 nav a :hover {background-color: hotpink;}