body {
    color: lightslategrey;
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
 } 

h1 { 
    color: indigo;
    background-color: lavenderblush;
    font-family: 'Pacifico', cursive;
 }
h2 { 
    color:mediumpurple;
    font-family: 'Pacifico', cursive;
 }
 nav {background-color:lightpink;}
 nav a {color: lightpink;}
 nav {color: white;}
 nav a :hover {background-color: hotpink;}
 nav {
 padding: 10px;
 margin-bottom: 30px;
 }
 div {border: 1px solid black;}
 div {
     margin: 30px;
     padding: 50px;
     background-color: lavender;
     border-radius: 25px;
      }